.tool-bar {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.search-container {
    width: 100%;
    position: relative;
}

.search-container .search-input {
    width: 100%;
    padding: 0.8rem 2.5rem 0.8rem 1rem;
    font-size: 1rem;
    border-radius: var(--radius-sm);
    background-color: var(--color-light);
    border: 1px solid var(--color-border);
    transition: border 0.3s;
    height: 2.8rem;
}

.search-container .search-input:focus-visible {
    border-color: var(--color-primary);
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
}

.clear-search {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s;
    height: calc(2.8rem - 0.5rem);
    width: calc(2.8rem - 0.5rem);
}

.clear-search:not([data-has-content="true"]) {
    cursor: default;
    pointer-events: none;
}

.clear-search[data-has-content="true"] {
    cursor: pointer;
    color: var(--color-muted);
}

.clear-search[data-has-content="true"]:hover {
    color: var(--color-primary);
}

.clear-search .icon-btn {
    width: 100%;
    height: 100%;
}

.buttons-container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.buttons-container .btn-black {
    flex: 1;
    min-width: 120px;
}

@media (max-width: 920px) {
    .buttons-container {
        flex-direction: column;
    }

    .buttons-container .btn-black {
        width: 100%;
    }
}